<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/deepa/Documents/prep/java/TestNG/NewAutomation"><classes><class name="PageTestPackage.HomePageTest"><methods><include name="TestTitle"/><include name="VerifywblLogoTest"/><include name="VerifystudentTest"/><include name="TestLoginBtn"/></methods></class><class name="PageTestPackage.LandingPageTest"><methods><include name="TestWBL"/><include name="Testmailid"/></methods></class><class name="PageTestPackage.LoginPageTest"><methods><include name="Validatelogintitletest"/><include name="logintest"/></methods></class></classes></test></suite>